/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	body {
		background-color: blue;
	}
	
	.header-photo {
	width: 75%;
	}
	.collapse h3 {
		font-size: 1rem;
	}
	.collapse h5 {
		font-size: 0.7rem;
	}
	
	.home-photo img {
		width: 45%;
    }
    .home h1 {
        font-size: 2.9rem;
    }
    .home h3 {
        font-size: 1.4rem;
    }
    .about h1 {
        font-size: 1.6rem;
    } 
    
    .stay h1 {
        font-size: 2.4rem;
    }
    .stay h2 {
        font-size: 1.4rem;
    }
    .space h3 {
        font-size: 1.1rem;
    }


    .balloon {
		position: relative;
		display: inline-block;
		margin: 1.5em 0;
		padding: 7px 10px;
		min-width: 120px;
		max-width: 100%;
		/* color: #555; */
		/* font-size: 16px; */
		/* background: #0FABBC; */
	}
	
	.balloon:before {
		content: "";
		position: absolute;
		top: 125%;
		left: 47.7%;
		margin-left: -35px;
		border: 55px solid transparent;
		border-top: 35px solid #0FABBC;
	}
	
	.balloon p {
		margin: 0;
		padding: 0;
    }

	.balloon1 {
		position: relative;
		display: inline-block;
		margin: 1.5em 0;
		padding: 7px 10px;
		min-width: 120px;
		max-width: 100%;
		/* color: #555; */
		/* font-size: 16px; */
		/* background: #0FABBC; */
	}
	
	.balloon1:before {
		content: "";
		position: absolute;
		top: 125%;
		left: 45.5%;
		margin-left: -35px;
		border: 55px solid transparent;
		border-top: 35px solid #0FABBC;
	}
	
	.balloon1 p {
		margin: 0;
		padding: 0;
	}

	.balloon-step1 {
		position: relative;
		display: inline-block;
		/* margin: 1.5em 0; */
		padding: 7px 10px;
		min-width: 120px;
		max-width: 100%;
		/* color: #555; */
		/* font-size: 16px; */
		/* background: #ffff; */
	}
	
	.balloon-step1 h1 {
		/* color: #0FABBC; */
	}
	
	.balloon-step1:before {
		content: "";
		position: absolute;
		top: 110%;
		left: 52%;
		margin-left: -65px;
		border: 55px solid transparent;
		border-top: 35px solid #ffff;
		/* color: #0FABBC; */
	}
	
	.balloon-step1 p {
		margin: 0;
		padding: 0;
	}

	.balloon-step2 {
		position: relative;
		display: inline-block;
		/* margin: 1.5em 0; */
		padding: 7px 10px;
		min-width: 120px;
		max-width: 100%;
		/* color: #555; */
		/* font-size: 16px; */
		/* background: #ffff; */
	}
	
	.balloon-step2:before {
		content: "";
		position: absolute;
		top: 108.3%;
		left: 52%;
		margin-left: -65px;
		border: 55px solid transparent;
		border-top: 35px solid #ffff;
		/* color: #0FABBC; */
	}
	
	/* .balloon-step2 h1,h2 {
		color: #0FABBC;
	} */
	
	.balloon-step2 p {
		margin: 0;
		padding: 0;
	}

	.balloon-step3 {
		position: relative;
		display: inline-block;
		/* margin: 1.5em 0; */
		padding: 7px 10px;
		min-width: 120px;
		max-width: 100%;
		/* color: #555; */
		/* font-size: 16px; */
		/* background: #ffff; */
	}
	
	/* .balloon-step3 h1 {
		color: #0FABBC;
	} */
	
	.balloon-step3:before {
		content: "";
		position: absolute;
		top: 110.6%;
		left: 51.7%;
		margin-left: -65px;
		border: 55px solid transparent;
		border-top: 35px solid #ffff;
		/* color: #0FABBC; */
	}
	
	.balloon-step3 p {
		margin: 0;
		padding: 0;
	}

	.btn-foot {
        width: 95%;
        height: 10%;
    }
	.btn-foot p {
        font-size: 0.8rem;
    }




}
