.btn {
    /* ボタンの色 */
    background-color: #FA163F;
}
.font-write {
    /* 文字白色 */
color: #ffffff;
}
.font-blue {
    /* 文字青色 */
    color: #0FABBC;
}
.container-fluid {
    padding: 0;
    margin: 0;
}
header footer {
    width: 1200px;
}
  /* ↑ 共通class ↑ */


    header {
        background-color: #0FABBC;
    }




.home {
    background-color: #E4F9FF;
}
.home-text {
    /* li要素の・を引き寄せる */
    list-style-position: inside; 
}
/* .home */


.about {
    background-color: #0FABBC;
}
.about-title h2 {
    background-color: #0FABBC;
}
.about-LinedUp {
    background-color: #E4F9FF;
    list-style-position: inside; 
    /* li要素の・を引き寄せる */
}
/* about */


.stay {
    background-color: #0FABBC;
}
.stay-title {
    list-style-position: inside; 
    /* li要素の・を引き寄せる */

}
/* stay */


.space {
    background-color: #E4F9FF;
    list-style-position: inside; 
    /* li要素の・を引き寄せる */
}
.space-title {
    background-color: #ffffff;
}
.space-title-2 {
    background-color: #ffffff;
}
/* .space */


.Preparation {
    text-align: center;
    background-color: #E4F9FF;
}
.Preparation-start {
    background-color: #0FABBC;
}
.Preparation-title_list {
    background-color: #ffffff;
}
/* Preparation */


.place {
    background-color: #E4F9FF;
}
.place {
    background-color: #E4F9FF;
}
/* place */


footer {
    background-color: #0FABBC;
    color: #E4F9FF;
}
/* footer */




/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
.container-fluid {
    background-color: #FA163F;
}
}

